<% if @game.check_win_or_lose == :lose %>

<h1>Sorry, you lose!</h1>

<div class="alert alert-danger">
   The word was:
   <span class="strong"><%= @game.word %></span>
</div>

<%= erb :new %>

<% else %>
 <!-- if he didn't redirect him to the previous state    -->

<%= erb :show %>


<% end %>